@import '_variables';
@import '_body';
@import '_pageheader';

#left {
  max-width: 50%;
  background-color: $White;
  max-height: 100vh;
  overflow-y: scroll;
} h5 {
  font-style: bold;
}

#right {
  max-width: 50%;
  background-color: $Teal;
}

#skills-row {
  overflow-x:scroll;
}

#devcons {
  font-size: 60px;
  color: $Red;
  padding-left: 10px;
}

h1 {
  font-family: $title-font;
  margin-top: 20px;
}

#right h3 {
  margin-top: 5px;
  padding-left:5px;
}


#left::-webkit-scrollbar {
    width: .5em;
}

#left::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    color: $Teal;
}

#left::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid $Teal;
}
