@import '_variables';
@import '_body';
@import '_pageheader';

h1 {
  font-family: $title-font;
  margin-top: 10px;
}
#services2 {
  margin-top: 15px;
}

.card-header {
  background-color: $Red;
} a {
  text-decoration: none;
  color: $White;
  font-size: 20px;
} a:hover {
  color: black;
}
