@import '_variables';
@import '_body';
@import '_pageheader';

.card {
  border: none;
  margin-top: 5px;
}

.card-body {
  overflow-y: scroll;
  height: 300px;
  width: 100%;

  ::-webkit-scrollbar {
    width: 0.5em;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    color: $Teal;
  }

  ::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid $Teal;
  }
}

h1 {
  font-family: $title-font;
  margin-top: 10px;
}

.card-header {
  background-color: $Red;
  font-size: 10px;

a {
  text-decoration: none;
  color: $White;

  :hover {
    color: black;
  }
}
}
