$White: rgba(241%, 250%, 238%, 1);
$Teal: rbga(19%, 137%, 151%, 1);
$Red: #A11D1D;

$title-font: 'Give You Glory', 'Helvetica', cursive;
$body-font: 'Catamaran', serif;

#contact-form {
} label {
  font-family: $title-font;
  font-size: 15px;
}
